In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('IMDB Dataset.csv')

In [4]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [5]:
# checking for missing values
df.isna().sum()

review       0
sentiment    0
dtype: int64

In [12]:
# checking the distribution of sentiment class
df['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

## Basic Text Statistics (Word Count & Sentence Length)

In [14]:
# Add text length columns
df["word_count"] = df["review"].apply(lambda x: len(str(x).split()))
df["char_count"] = df["review"].apply(lambda x: len(str(x)))
df["sentence_count"] = df["review"].apply(lambda x: len(str(x).split(".")))

# Display summary statistics
print("Basic Text Statistics:\n")
df[["word_count", "char_count", "sentence_count"]].describe()

Basic Text Statistics:

         word_count    char_count  sentence_count
count  50000.000000  50000.000000    50000.000000
mean     231.156940   1309.431020       14.010400
std      171.343997    989.728014        9.890968
min        4.000000     32.000000        1.000000
25%      126.000000    699.000000        8.000000
50%      173.000000    970.000000       11.000000
75%      280.000000   1590.250000       17.000000
max     2470.000000  13704.000000      176.000000